<% flash.each do |type, msg| %>
  <% if type == "alert" %>
    <div class="alert">
      <p><%= msg %></p>
    </div>
  <% else %>
    <div class="notice">
      <p><%= msg %></p>
    </div>
  <% end %>
<% end %>